{{!-- <div class="text-center">
  <h2>{{name}}</h2>
  <p>{{type.type}}</p>
  <p>{{breed.breed}}</p>
</div> --}}

<section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    
                    <div class="col">
                        
                        <div class="card ">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{animal.picUrl}}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{name}}</h5>
                                    <!-- Product price-->
                                    <h5>{{type.type}}</h5>
                                    <h5>{{breed.breed}}</h5>

                                    <p>{{animal.desc}}</p>

                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/animal/{{animal.id}}">Adopt</a></div>
                            </div>
                        </div>
                       
                    </div>

                </div>
            </div>